<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Que quieres saber mas</h3>
  </div>
  <div class="panel-body">
   
   <div class="ttulo">
     <h3></h3>
   </div>
   <div class="ttexx">
     <p>
       <br>
       Primero te damos la bienvenida a nuestro software nos sentimos muy contentos que has elegido,<br> nuestra aplicaciones
       para tu empresa. Bueno comvezemos con darte unos tips
       <br><br>
       <strong>1) Que debemos conocer primero:</strong><br>
       softec esta defino asi a un software tecnico de asistenica. la app cuenta<br>
       con varios paginas lo que hace verdaderamente agadable y funcional para el usuario comun.
       <br><br>
       <strong>2) Por que elegir este software:</strong><br>
       Porque debemos eligir este software y no otro, primero porque el desarrollo del software esta pensado para el cada usuario,<br>
       le facilite un gran manejo de la informacion, de reportar, subir, agregar o eliminar usuarios.
      
       
     </p>
   </div>
  </div>
</div>