<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Como contactarnos</h3>
  </div>
  <div class="panel-body">
   
   <div class="ttulo">
     <h3>Empezemos !</h3>
   </div>
   <div class="ttexx">
     <p>
       <br>
       Primero te damos la bienvenida a nuestro software nos sentimos muy contentos que has elegido,<br> nuestra aplicaciones
       para tu empresa. Bueno comvezemos con darte unos tips
       <br><br>
       <strong>1) Que debemos conocer primero:</strong><br>
       ¿POR QUE? se softec, esta defino asi a un software tecnico de asistenica. la app cuenta<br>
       con varios paginas lo que hace verdaderamente agadable y funcional para el usuario comun.
       <br><br>
       <strong>2) Que debemos conocer primero:</strong><br>
       Porque debemos eligir este software y no otro, primero porque el desarrollo del software esta pensado para el cada usuario,<br>
       le facilite un gran manejo de la informacion, de reportar, subir, agregar o eliminar usuarios.
       <br><br>
       <strong>3) Como registramos un usuario, Si aun no tenemos una cuenta:</strong><br>
       primero que todo ingresamos a la direccion URl de la aplicacion, si no contamos con una cuenta, la podemos crear desde<br>
       la pagina de inicio de seseccion.
       <br><br>
       
     </p>
     
   </div>
  </div>
</div>