<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Modulos</h3>
  </div>
  <div class="panel-body">
   <div class="ttexx">
     <p>
       <br>
       <strong>1) Usuarios:</strong><br>
       Este modulo esta integrado por varias funciones, una de las ellas es inicio de sesion permite al usuario interacturar dependiendo de su rol dentro del sistema,
       otro componente es la creacion de una cuenta que el mismo usuario puede crear.<br>
       Este modulo es une el usuario y el software para interacturar luego con la aplicacion.
       <br><br>
       <strong>2) Registro:</strong><br>
       Este modulo cumple la funcion de registrar y controlar las asistencia del curso, registrar las hora y salida del alumnos,<br>
       le facilita que el usuario maneja cantidas de archivos para registrar la fecha del curso.
       <br><br>
       <strong>3) Reportes:</strong><br>
       porque el desarrollo del software esta pensado para el usuario,<br>
       le facilita un gran manejo de la informacin, de reportar, subir, agregar o eliminar usuarios.
       <br><br>
       <strong>4) Configuracion:</strong><br>
       porque el desarrollo del software esta pensado para el usuario,<br>
       le facilita un gran manejo de la informacin, de reportar, subir, agregar o eliminar usuarios.
       <br><br>
       <strong>5) Consulta :</strong><br>
       porque el desarrollo del software esta pensado para el usuario,<br>
       le facilita un gran manejo de la informacin, de reportar, subir, agregar o eliminar usuarios.
       <br><br>
       <strong>6) Soporte (Ayuda) :</strong><br>
       En esta guia detalleremos paso a paso cada funcion para que puedas interacturar de modo,<br>
       te guiaremos para que sepas como funciona la aplicacion.
       <br><br>
       </p>
   </div>
  </div>
</div>