<div class="container">
    
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Acerca del Software</h3>
  </div>
  <div class="panel-body">
    <br>
    <div class="col-xs-4">
        <address>
        <strong>Datos personales:</strong><br>
        Tec. Analisis y desarrollo de sistemas informacion<br>
        Desarrollo de aplicaciones web<br>
        Diseño Multimedia y diseño web<br>
        
        <strong>Afines:</strong><br>
        La Tecnologia y el desarrollo de aplicaciones<br>
        La Programacion de software, las bases de datos<br>
        Las Matematicas y la fisica<br>
        La literactura española, leer sobre tecnologia y videojuegos<br>
        Las Peliculas de ciencia ficcion.<br>
        
        <br>
        
        <abbr title="Phone">Movil:</abbr> 3003121056 
        </address>

        <address>
        <strong>Daniel Posada calle</strong><br>
          <a href="mailto:#">dposada8@misena.edu.co</a>
        </address>
    </div>
    
    <div class="col-xs-4">
        <address>
        <strong>Datos Personales:</strong><br>
        Tec. Analisis y desarrollo de sistemas Informacion<br>
        Desarrollo de aplicaciones web<br>
        Diseño web<br>
        
        <strong>Afines:</strong><br>
        El diseño y desarrollo de paginas web<br>
        Viajar<br>
        <br>
        <abbr title="Phone">Movil:</abbr> 3219235614
        </address>

        <address>
        <strong>Angelo Rodriguez Pantoja</strong><br>
          <a href="mailto:#">rodriguezarp@misena.edu.co </a>
        </address>
    </div>
    
     
    <div class="col-xs-4">
        <address>
        <strong>Datos Personales:</strong><br>
        Tec. Analisis y desarrollo de sistemas informacion<br>
        Desarrollo de aplicaciones web<br>
        Diseño Web<br>
        
        <strong>Afines:</strong><br>
        La tecnologia y el desarrollo<br>
        la programacion y la base de datos<br>
        La Mecanica Automotriz<br>
        
        <abbr title="Phone">Movil:</abbr> 3008485975
        </address>

        <address>
        <strong>Andres Felipe Hernandez Galvis</strong><br>
          <a href="mailto:#">afhernandez568@misena.edu.co</a>
        </address>
    </div>

  </div>
</div>
    
   
</div>