<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Buscar por documento Identidad</h3>
  </div>
  <div class="panel-body">
    <form class="form-inline" action="/procesos/consulta" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
        <label>Documento de identificacion:</label>
            <input type="text" name="sede" id="sede" value="" class="form-control" size="50" placehoslder="ID"> 
    
             <button class="btn btn-success" name="nil">
                 <%= image_tag("search.png") %>
             </button>
    </form>
  </div>
</div>