<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Contactenos</h3>
  </div>
  <div class="panel-body">
      <center>
     <form class='contacto'>
        <div><label>Tu Nombre:</label><input type="text" class="form-control" placeholder="Nombre"></div>
        <div><label>Tu Email:</label><input type="text" class="form-control" placeholder="Email"></div>
        <div><label>Asunto:</label><input type="text" class="form-control" placeholder="Asunto"></div>
        <div><label>Mensaje:</label><textarea rows='6'></textarea></div>
        <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
   </center>
  </div>
</div>