
<div class="contenedor">
 
<div class="fond">
 
<form class="form-horizontal" role="form">
  
 <div class="col-lg-11">
   <input type="email" class="form-control" id="ejemplo_email_3" placeholder=" Enter email">
 </div>
 
  <div class="l1">
      <span class="pull-left"><a href="/static_pages/usuarios">Entrar</a></span>
  </div>
 
  <div class="l2">
      <span class="pull-right"><a href="/static_pages/registrarse">Registrarse</a></span>
   </div>
 
 <div class="boton-2">
    <button type="submit" class="btn btn-success">Restablecer contrase침a</button>
 </div>
    
   
</form>
 
 </div>
 
</div>

 <div class="tx">
 <p class="col-xs-9">Introduzca su direcci칩n de correo electr칩nico y te enviaremos un enlace para restaurar tu contrase침a</p>
 </div> 

 <div class="superior">
   <div class="img">
     <%= link_to(image_tag('slogan3.png'), "/static_pages/home", :class => "fa fa-3x") %>
   </div>
 </div>
 
 




