<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Registrarse</h3>
  </div>
  <div class="panel-body">
  <form class="form-horizontal" role="form">
   <div class="col-md-9">
    <div class="form-group">
      <label for="ejemplo_rol_3" class="col-lg-4 control-label-left" id="tt1">Seleccione Rol</label>
      <div class="col-lg-5">
       
        <select class="form-control">
           <option value="CO">Coordinador</option>
           <option value="DO">Docente</option>
           <option value="AC">Acudiente</option>
        </select>
      </div>
    </div>
   
    <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label-left" id="tt1">Primer nombre</label>
      <div class="col-lg-5">
        <input type="name" class="form-control" id="ejemplo_name_3" placeholder="primer nombre">  
      </div>
    </div>
    
     <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label-left" id="tt1">Segundo nombre</label>
      <div class="col-lg-5">
        <input type="name" class="form-control" id="ejemplo_name_3" placeholder="segundo nombre">  
      </div>
    </div>
      
      <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label-left-left" id="tt1">Primer apellido</label>
      <div class="col-lg-5">
        <input type="apellido" class="form-control" id="ejemplo_apellido_3" placeholder="Primer Apellidos">  
      </div>
    </div>
    
    <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label-left-left" id="tt1">Segundo apellidos</label>
      <div class="col-lg-5">
        <input type="apellido" class="form-control" id="ejemplo_apellido_3" placeholder="Segundo Apellidos">  
      </div>
    </div>
    
     <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label-left" id="tt1">Seleccione tipo documento</label>
      <div class="col-lg-5">
        <input type="document" class="form-control" id="ejemplo_document_3" placeholder="tipo documento">  
      </div>
    </div>
   
      <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label-left" id="tt1">Numero de Documento</label>
      <div class="col-lg-5">
        <input type="document" class="form-control" id="ejemplo_document_3" placeholder="Ingrese Documento">  
      </div>
    </div>
      
      <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label-left" id="tt1">Correo Electronico</label>
      <div class="col-lg-5">
        <input type="email" class="form-control" id="ejemplo_email_3" placeholder="Enter email">  
      </div>
    </div>
      
          <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label.left" id="tt1">Telefono</label>
      <div class="col-lg-5">
        <input type="telefono" class="form-control" id="ejemplo_telefono_3" placeholder="Telefono">  
      </div>
    </div>
      
          <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label-left" id="tt1">Celular</label>
      <div class="col-lg-5">
        <input type="celular" class="form-control" id="ejemplo_celular_3" placeholder="Celular">  
      </div>
    </div>
      
    <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label-left" id="tt1">Direccion</label>
      <div class="col-lg-5">
        <input type="direccion" class="form-control" id="ejemplo_document_3" placeholder="Direccion">  
      </div>
    </div>
   
    <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label-left" id="tt1">Barrio/Sector</label>
      <div class="col-lg-5">
        <input type="sector" class="form-control" id="sector" placeholder="Barrio">  
      </div>
    </div>
    
    <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label-left" id="tt1">Estado civil</label>
      <div class="col-lg-5">
        <input type="password" class="form-control" id="ejemplo_password_3" placeholder="estado civil">  
      </div>
    </div>
      
      
    <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label-left" id="tt1">Contraseña</label>
      <div class="col-lg-5">
        <input type="password" class="form-control" id="ejemplo_password_3" placeholder="contraseña">  
      </div>
    </div>
      
      <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label-left" id="tt1">Fecha Nacimiento</label>
      <div class="col-lg-2">
        <input type='text' class="col-lg-4 control-label-left" id='datetimepicker4'/> 
      </div>
    </div>
  
      
    
      <div class="form-group">
      <label for="ejemplo_tipo_2" class="col-lg-4 control-label-left" id="tt1">Genero</label>
      <div class="col-lg-4" id="tt1">
          <label class="radio-inline">
            <input type="radio" id="inlineCheckbox1" value="option1" id="tt1"> Masculino
          </label>
          <label class="radio-inline">
            <input type="radio" id="inlineCheckbox1" value="option1" id="tt1"> Femenino
          </label>
      </div>
    </div>
   
   <div class="Btn-22">
      <button type="button" class="btn btn-primary">Registrarse</button>
   </div>
   
     </div>
     </div>
  </form>
</div>
</div>










