 <div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Reporte de Alumnos</h3>
  </div>
  <div class="panel-body">
    
     <div class="form-group">
    <label for="ejemplo_" class="col-lg-4 control-label" id="password_22">Nombre</label>
    <div class="col-lg-7" id="campo1">
      <input type="password" class="form-control" id="ejemplo_password_3" placeholder="Nombre Alumno">
    </div>
  </div>
  
  <br><br>
  
   <div class="form-group">
    <label for="ejemplo_password_3" class="col-lg-4 control-label" id="password_22">Identificación</label>
    <div class="col-lg-7" id="campo2">
      <input type="password" class="form-control" id="ejemplo_password_3" placeholder="Identificación">
      <br><br><br>
    </div>
  </div>
  
<form role="form-group">
  <label for="fecha_creacion" id="fecha_c">Fecha de Creación </label>
    <div class="form-group">
       <div class="col-lg-5">
         <input type="date" class="form-control" id="fecha_crear" placeholder="Fecha Creacion">
     </div>
 </div>
 
     <div class="boton_reportar">
       <button class="btn btn-info">Reportar</button>    
    </div>
    
    
    
  </div>
  
  <br><br><br>
</div>