
<div class="table">

<div class="fondo">
  
<form class="form-horizontal" role="form">
  <div class="form-group">
    
    <label for="ejemplo_rol_3" class="col-lg-4 control-label " id="rol_2" >Rol</label>
    <div class="col-lg-7" id="campo_1">
     
      <select class="form-control">
         <option value="CO">Coordinador</option>
         <option value="DO">Docente</option>
         <option value="AC">Acudiente</option>
      </select>
    </div>
  </div>
 
  <div class="form-group">
    <label for="ejemplo_tipo_2" class="col-lg-4 control-label" id="tipo_documento">Tipo documento</label>
    <div class="col-lg-7" id="campo_2">
      <select class="form-control "> 
        <option value="TI">Tarjeta Identidad</option>
        <option value="CC">Cedula Ciudadania</option>
        <option value="CC">Cedula de Extrajeria</option>
      </select>  
    </div>
  </div>
 
  <div class="form-group">
    <label for="ejemplo_id_3" class="col-lg-4 control-label" id="numero_id">Identificacion</label>
   <div class="col-lg-7" id="campo_3">
      <input type="id" class="form-control" id="ejemplo_email_3" placeholder="Identificacion">
    </div>
  </div>
 
  <div class="form-group">
    <label for="ejemplo_password_3" class="col-lg-4 control-label" id="password_22">Contraseña</label>
    <div class="col-lg-7" id="campo_4">
      <input type="password" class="form-control" id="ejemplo_password_3" placeholder="Contraseña">
    </div>
  </div>
 
    <div class="boton-entrar">
       <button class="btn btn-info">Entrar</button>    
    </div>

 
   <div class="password">
       <span class="pull-right"><a href="/static_pages/olvidaste_password">Olvidaste tu Contraseña</a></span>
   </div>
   
   <div class="register">
       <span class="pull-right"><a href="/static_pages/registrarse">/ Registrarse</a></span>
   </div>
   
   <div class="chebox">
       <label><input type="checkbox">Recordarme</label>
   </div>


 
</form>

</div>

</div>