<div class='municipio'>
  <div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Mostrar municipios</h3>
  </div>
  <div class="panel-body">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Nombre:</strong>
    <%= @municipio.nombre %>
  </p>

</div>
 </div>
</div>

  
   
 