<div class='tipo_documento'>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_documento.nombre %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @tipo_documento.sigla %>
</p>
</div>