<footer class="footer small">
    
    <div class="col-xs-4">
        <strong>Información</strong></br>
        
            <address>
                <br>
            Administradores del Sistema</br>
            Más acerca del Sistema de Asistencia escolar</br>
            Fuentes de información del Sistema</br>
            Indicador Multidimensional de la Calidad Educativa</br>
            Utilidad del Sistema</br>
            </address>
       
    </div>

    <div class="col-xs-4">
       <address>
            <strong>Contacto</strong></br>
            <br>
            Institucion Educativa Jose Acevedo y Gomez</br>
            Secretaría de Educación de Medellín</br>
            Carrera. 8 Sur # 52C - 20 San Rafael, Guayabal</br>
            Tel&eacute;fono: <strong>(57+4) 2552996 - 3612145 - 3617065</strong></br>
            Web: <strong><a href="http://www.iejoseacevedoygomez.edu.co/">www.iejoseacevedoygomez.edu.co/</a></strong></br>
            Medellín, Antioquia, Colombia
        </address>
    </div>
    
     <div class="col-xs-4">
        <ul class="list-unstyled-1">
          <li><%= link_to "Acerca",   about_path %></li>
          <li><%= link_to "Contacto", contact_path %></li>
          <li><%= link_to "Ayuda",   help_path %></li>
        </ul>
    </div>

<div class="text-center">
  <p>
   &copy 2015 Software diseñado y elaborado Softec, Medellín-Colombia. Derechos reservados.
  </P>
</div>
    
</footer>